.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.log

node_modules/
client/node_modules/
server/node_modules/
client/package-lock.json
server/package-lock.json

.pnp/
.pnp.js

client/.next/
client/out/
client/.next/static/
client/next-env.d.ts

server/dist/
server/build/

.env
.env.*
.env*.local
client/.env
client/.env.*
server/.env
server/.env.*

coverage/
*.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.vercel/
.vercel_build_output/

*.pem
*.tmp
*.tgz
